---
---
@import "no-style-please";

header {
    position: relative;
}

header h1::before {
    content: '';
    background-image: url('../../smellsfishy.png');
    background-size: 100%;
    display: block;
    width: 96px;
    height: 96px;
}

body[a="dark"] {
    header h1::before {
        filter: invert(1);
    }
}

@media only screen and (max-device-width: 719px) {
    header h1::before {
        margin-left: -16px;
    }
}

@media only screen and (min-device-width: 720px) {
    header h1::before {
        display: inline-block;
        position: absolute;
        left: -96px;
        top: -32px;
    }
}

.icon {
    height: 16px;
    margin-bottom: -4px;
}

pre, p code {
    color: white;
    background: black;
    padding: 2px;
    border-radius: 2px;
}
